asgiref
autopep8
Django
django-dirtyfields
django-silk
djangorestframework
djangorestframework_simplejwt
drf-yasg
gprof2dot
inflection
packaging
pillow
pycodestyle
PyJWT
pytz
PyYAML
sqlparse
tomli
typing_extensions
uritemplate
django-filter
django-redis
celery[redis]
django-ratelimit
cryptography
django-cors-headers
requests
django-environ
python-dotenv
pandas
reportlab
stripe
firebase-admin
openpyxl
openai
pydantic
psycopg2-binary
sqlalchemy
langchain
langchain-openai
langchain-community
langchain-core
PyPDF2
onesignal-sdk
gunicorn>=21.2.0
django-celery-beat>=2.5.0
whitenoise>=6.6.0
rest-framework-simplejwt